@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --breakpoint-xsm: 280px;
  /* min-width */
  --breakpoint-mobile: 280px;
  /* min-width */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
}

@layer utilities {
  .show-guide {
    outline: 4px dashed red;
    outline-offset: -1px;
    /* keeps it hugging the edge */
    z-index: 9999;
    /* ensures it's on top of other elements */
  }

  .font-cinzel {
    font-family: "Cinzel", serif !important;
  }

  /* Poppins font */
  .font-poppins {
    font-family: "Poppins", sans-serif !important;
  }
}
